img {
    display: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    font-family: "Istok Web", Helvetica;
    font-weight: bold;
    background: #424242;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}

.laporan-guru  {
    width: 180px;
    height: 45px;
    line-height: 1;
    font-size: 14px;
}

.laporan-siswa {
    width: 180px;
    height: 45px;
    line-height: 1;
    font-size: 14px;
}

.pengaturan {
    width: 180px;
    height: 45px;
    line-height: 1;
    font-size: 15px;
}

