.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    width: 360px;
    height: 640px;
    top: -72px;
    position: relative;
    margin: auto;
}

.frame {
    padding: 150px;
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid transparent;
    border-color: black;
    background-color: #f4f4f4;
}

.result-camera .button-use {
    position: absolute;
    width: 179px;
    height: 43px;
    top: 400px;
    left: 89px;
    background-color: #424242;
    border-radius: 10px;
}

.result-camera .Gunakan {
    position: absolute;
    width: 115px;
    height: 29px;
    top: 6px;
    left: 50px;
    font-family: "Istok Web-Bold", Helvetica;
    font-weight: 700;
    color: #f4f4f4;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.result-camera .checklist {
    position: absolute;
    width: 25px;
    height: 30px;
    top: 4px;
    left: 20px;
}

.result-camera .button-repeat {
    position: absolute;
    width: 179px;
    height: 43px;
    top: 465px;
    left: 89px;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 1px solid;
    border-color: #424242;
}

.result-camera .Ulangi {
    position: absolute;
    width: 78px;
    height: 29px;
    top: 5px;
    left: 60px;
    font-family: "Istok Web-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.result-camera .cycle {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 22px;
}
.result-camera {
    margin-top: 10px;
}